<!--{% macro render_dict2(obj) %}-->
<!--  {% for key, value in obj.items() %}-->
<!--    <h3> {{ key }} </h3>-->
<!--    <ul>-->
<!--    {% if value is mapping %}-->
<!--      {% for child_key, child_value in value.items() %}-->
<!--        <li> {{ child_key }} : {{ child_value }}</li>-->
<!--      {% endfor %}-->
<!--    {% elif value is iterable and value is not string %}-->
<!--      {% for child_value in value %}-->
<!--        <li>{{ child_value }}</li>-->
<!--      {% endfor %}-->
<!--    {% else %}-->
<!--      <li>{{ value }}</li>-->
<!--    {% endif %}-->
<!--    </ul>-->
<!--  {% endfor %}-->
<!--{% endmacro %}-->

{% macro render_dict(tree) %}
{%- for key, value in tree.items() recursive %}
{{ ('&nbsp;&nbsp;' * (loop.depth-1)) | safe  }}<b>{{ key }}:</b>
{%- if value is mapping -%}<br>{{ loop(value.items()) }}{% else %} <i>{{ value }}</i><br>{%- endif -%}
{%- endfor %}
{% endmacro %}}
